.container {
  background: rgba(0, 0, 0, 0.3);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.bannerContainer {
  overflow: auto;
}

.clanBanner {
  float: left;
  margin-right: 10px;
}

.clanName {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  color: white;
}

.bannerText {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

.cwTrophies {
  width: 20px;
  color: white;
}

.description {
  color: white;
}

.clanMembers {
  color: white;
  text-align: center;
}

table {
  color: white;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  border-top: 2px solid #222;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

td {
  vertical-align: middle;
  white-space: nowrap;
}

.alignCenter {
  text-align: center;
}

.lg-view{
  display:inline-block;
}

.sm-view{
  display:none;
}

@media screen and (max-width: 500px) {
  .lg-view{
    display:none;
  }

  .sm-view{
    display:inline-block;
  }
}

.memberArena {
  width: 40%;
  height: auto;
}

.expIcon {
  background: url('/src/assets/level-big.png') center no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover;
  font-size: 14px;
  text-shadow: 1px 2px 2px #000;
  color: #fff;
  line-height: 30px;
  text-align: center;
  position: relative;
  top: -2px;
}

.clanRole {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.clanRoleLeader {
  color: #212529;
  background-color: #ffc107;
}

.clanRoleCoLeader {
  color: #212529;
  background-color: #ff6b00;
}

.clanRoleElder {
  color: #212529;
  background-color: #466fe5;
}

.clanRoleMember {
  color: #212529;
  background-color: #9aa5b0;
}

.playerTag {
  font-size: .65rem;
}

.playerName {
  font-size: 1.3rem;
}

.sm-font {
  font-size: 12px;
}

// Desktop

@media only screen and(min-width: 768px) {
  .container {
    width: 80%
  }

  .bannerContainer {
    text-align: center;
  }

  .clanBanner {
    width: 200px;
    float: unset;
  }

  th, td {
    padding: 2rem;
  }

  .memberArena {
    width: 100px;
  }

  .playerName {
    font-size: 1.5rem;
  }

  .playerTag {
    font-size: .8rem;
  }

  .expIcon {
    background: url(/src/assets/level-big.png) center no-repeat;
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
    font-size: 28px;
    line-height: 60px;
  }

  .sm-font {
    font-size: 150%;
  }
}

// Extra Mobile

@media only screen and(max-width: 768px) {
  .leftPadding-10 {
    padding-left: 10px;
  }
}





