<div class="container">
  <div class="bannerContainer">
    <img class="clanBanner" src="/src/assets/16000123.png">
    <h1 class="clanName">{{clanName}}</h1>
    <p class="bannerText">Clan Score: {{clanScore}}</p>
    <span class="cwTrophies"><img class="cwTrophies" src="/src/assets/cw-trophy.png"> {{clanWarTrophies}}</span>
    <p class="description">{{clanDescription}}</p>
  </div>
</div>
<div class="container">
  <h2 class="clanMembers">Clan Members</h2>
  <table>
    <thead>
    <tr>
      <th>
        <span class="sm-view">#</span>
        <span class="lg-view">Rank</span>
      </th>
      <th>Arena</th>
      <th>Player</th>
      <th>
        <span class="leftPadding-10 sm-view"><img class="cwTrophies" src="/src/assets/trophies.png"></span>
        <span class="lg-view">Trophies</span>
      </th>
      <th class="leftPadding-10">
        <span class="sm-view">Don. <br> <small>Rec.</small></span>
        <span class="lg-view">Donations <br> <small>Received</small></span>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let col of clanMembers">
    <tr>
      <td>{{col.clanRank}}</td>
      <td class="alignCenter" *ngIf="col?.arena.id > 54000011 && col?.arena.id < 54000022; else arenaText">
        <img *ngIf="col?.arena.id as arenaIcon" class="memberArena" [src]="'/src/assets/arenas/' + arenaIcon + '.png'">
        <br>
        <div class="expIcon">{{col.expLevel}}</div>
      </td>
        <ng-template #arenaText>
          <td class="alignCenter">
            <div class="sm-font">{{col.arena.name}}</div>
            <br>
            <div class="expIcon">{{col.expLevel}}</div>
          </td>
        </ng-template>
      <td>
        <span class="clanRole"
              [ngClass]="{clanRoleLeader: (col.role === 'leader'), clanRoleCoLeader: (col.role === 'coLeader'),
              clanRoleElder: (col.role === 'elder'), clanRoleMember: (col.role === 'member')}">{{col.role}}</span>
        <br>
        <a class="playerName mb-2">{{col.name}}</a>
        <br>
        <small class="playerTag mb-2">{{col.tag}}</small>
      </td>
      <td class="leftPadding-10">{{col.trophies}}</td>
      <td class="leftPadding-10">
        <strong><br>{{col.donations}}</strong>
        <small><br>{{col.donationsReceived}}</small>
      </td>
    </tr>
    </tbody>
  </table>
</div>
