<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <ul>
      <li><a routerLink="/home">Home</a ></li>
      <li><a routerLink="/clan-news">Clan News</a></li>
      <li><a routerLink="/clan-wars">Clan Wars</a></li>
      <li><a routerLink="/guides">Guides</a></li>
    </ul>
  </div>
</nav>
