.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li {
  display: inline-block;
  padding: 2.2vh 0;
  font-size: 80%;
  cursor: pointer;

  @media only screen and (min-width: 360px) and (orientation: portrait) {
    font-size: unset;
  }
  @media only screen and (min-width: 768px)  and (orientation: portrait)  {
    font-size: unset;
    padding: 2.5vh 0;
  }
  @media only screen and (min-width: 1024px)  and (orientation: landscape)  {
    font-size: unset;
    padding: 2.5vh 0;
  }
  &  a {
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  & a:hover {
    background-color: #111;
  }
}


