/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
}

body {
  background-image:
  //  linear-gradient(
  //    rgba(0, 0, 0, 0.5),
  //    rgba(0, 0, 0, 0.5)
  //),
    url('assets/wallpapers/CR005-02.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;

  @media only screen and (max-width: 568px) and (orientation: landscape) {
    background-size: 100vw 130vh;
  }
  @media only screen and(min-width: 640px) and (orientation: landscape)
  and (max-width: 1023px) {
    background-size: 100vw 120vh
  }
}
